@import 'tailwindcss';

/* Tailwind v4 needs to know what files to scan for classes */
@source "./**/*.{ts,tsx,html}";
@source "../../../packages/ui/src/**/*.{ts,tsx,html}";

@import '@jade/css-config/styles.css';
